*{
  font-family: verdana;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: black;
}

.navbar{
  width: 80%;
  margin: 0px auto;
  box-sizing: border-box;
  padding: 0px;
}

.navcell{
  width: 25%;
  height: 30px;
  background: linear-gradient(indigo, navy);
  text-align: center;
  color: white;
  border-radius: 15px;
}
